.pop-up-course li {
  list-style-image: url(../assets/radio-button.png);
  font-size: 14px;
  padding-left: 15px;
}

.pop-up-course {
  padding: 50px 150px 50px 150px;
}

.pop-up-course-material {
  padding: 50px 50px 50px 80px;
}

.pop-up-course p {
  font-weight: 600;
}

#modal-course {
  font-size: 20px;
  font-weight: 700;
  padding: 5px 10px 5px 10px;
}

.pop-up-course-box {
  width: 100%;
  margin: 40px;
  zoom: 100%;
}

.pop-up-material-box {
  width: 100%;
  margin: 40px;
}
.pop-up-material-header {
  padding-right: 5%;
}
.pop-up-course-header {
  padding-right: 5%;
}

.pop-up-course-nothing {
  padding: 100px 0;
  display: flex;
  justify-content: center;
}

.backdrop-content {
  zoom: 200%;
}

@media screen and (max-width: 1024px) {
  /* .pop-up-course-box{
    width: 100%;
  } */
  .pop-up-course-header{
    width: 100%;
    padding-right: 25%;
  }
  .lock-content {
    width: 80%;
    margin: 0;
    padding: 0 7%;
  }
  .lock-content p{
    font-size: 12px;
  }
  /* .pop-up-material-box{
    width: 100%;
  } */
  .pop-up-material-header{
    width: 100%;
    /* padding-right: 25%; */
  }
  #modal-course {
    font-size: 16px;
  }
  .modal-course{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .pop-up-course-material {
    width: 100%;
    font-size: 13px;
    padding: 50px 50px 50px 80px;
  }
  .pop-up-course-nothing {
    padding: 100px 30%;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .pop-up-material-header{
    width: 80%;
    padding-right: 10%;
  }
  .pop-up-course-header {
    width: 80%;
    padding-right: 10%;
  }
  .pop-up-course-material {
    width: 80%;
    padding: 50px 50px 50px 80px;
  }
  .pop-up-course-nothing {
    padding: 100px 30%;
    display: block;
  }
  .pop-up-material-box {
    width: 80%;
    /* margin-left: 15%; */
  }
  .pop-up-course-box {
    width: 80%;
    /* margin-left: 15%; */
  }
}

@media screen and (max-width: 360px) {
  .pop-up-material-header{
    padding-right: 30%;
  }
  .pop-up-course-header {
    padding-right: 30%;
  }
  .pop-up-course-material {
    width: 50%;
  }
  .pop-up-course-nothing {
    padding: 100px 30%;
    display: block;
  }
  .pop-up-material-box {
    width: 80%;
    /* margin: 15%; */
    margin: 20px;
  }
  .pop-up-course-box {
    width: 80%;
  }
}